<div class="container"
     [ngClass]="showNav ? 'show-nav' :''">

  <div class="cover">
  </div>


  <div class="circle-nav">
    <div class="circle"
         (click)="toggleNav()">
      <button class="open">
        <i class="fas fa-times"></i>
      </button>
      <button class="close">
        <i class="
              fas
              fa-bars"></i>
      </button>
    </div>
  </div>


  <header class="header">
    <div class="header-title">
      <h1>Martin's Blog</h1>
    </div>
  </header>
  <main>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="footer">
    <ul>
      <li>
        <a href="https://github.com/HouseAlwaysWin"
           target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/chih-hao-wang-236891131/"
           target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://stackoverflow.com/users/5511771/martin-wang"
           target="_blank">
          <i class="fab fa-stack-overflow"></i>
        </a>
      </li>
    </ul>

    <div>
      Copyright &copy; by Martin Wang
    </div>
  </footer>



</div>



<nav>
  <ul>
    <li class="nav-home">
      <i class="fas fa-home"></i>
      <a routerLink="/"
         (click)="toggleNav()">Home</a>
    </li>
    <li class="nav-about">
      <i class="fas fa-user-alt"></i>
      <a routerLink="/about"
         (click)="toggleNav()"> About</a>
    </li>
    <li class="nav-contact">
      <i class="fas fa-envelope"></i>
      <a routerLink="/contact"
         (click)="toggleNav()">Contact</a>
    </li>
    <li class="nav-resume">
      <i class="fas fa-file-alt"></i>
      <a routerLink="/resume"
         (click)="toggleNav()">resume</a>
    </li>
    <!-- <li>
          <a routerLink="/playground">Playground</a>
        </li> -->
  </ul>
</nav>
