@import "../../styles.scss";

.home {
  display: flex;
  flex: row wrap;
  &_nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }

  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    & li {
      cursor: pointer;
      margin-top: 1rem;
      border-bottom: 0.3rem solid $color-grey-dark;
      width: 100%;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &_tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &_posts {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    & ul {
      list-style: none;
      & li {
        padding: 3rem;
      }
    }
  }

  &_empty {
    flex: 1;
  }

  & .posts_page {
    margin-bottom: 1rem;
  }
}

// .cross-line {
//   padding: 1rem;
//   border-bottom: 0.3rem solid $color-grey-dark;
//   width: 100%;
// }
